<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eunho.bankingsystem_spring_v2.mapper.BkboardMapper">

	<select id="detail" parameterType="hashMap" resultType="com.eunho.bankingsystem_spring_v2.dto.BkboardDto$BkboardSelectDto">
		SELECT Bkboard.id
			,Bkboard.title
			,Bkboard.content
			,Bkboard.deleted
			,Bkboard.created_at
			,Bkboard.modified_at
		FROM Bkboard
		WHERE Bkboard.id = #{id}
	</select>


	<select id="list" parameterType="com.eunho.bankingsystem_spring_v2.dto.BkboardDto$BkboardListDto" resultType="com.eunho.bankingsystem_spring_v2.dto.BkboardDto$BkboardSelectDto">
		SELECT Bkboard.id
			,Bkboard.title
			,Bkboard.content
			,Bkboard.deleted
			,Bkboard.created_at
			,Bkboard.modified_at
		FROM Bkboard
		WHERE Bkboard.id is not null
		<if test = "title != null and title !=''">AND Bkboard.title LIKE CONCAT('%', #{title}, '%')</if>
		<if test = "deleted != null and deleted !=''">AND Bkboard.deleted = #{deleted}</if>
	</select>

<!--	scroll-->
	<select id="moreList" parameterType="com.eunho.bankingsystem_spring_v2.dto.BkboardDto$BkboardMoreListDto" resultType="com.eunho.bankingsystem_spring_v2.dto.BkboardDto$BkboardSelectDto">
		SELECT Bkboard.id
		,Bkboard.title
		,Bkboard.content
		,Bkboard.deleted
		,Bkboard.created_at
		,Bkboard.modified_at
		FROM Bkboard
		WHERE Bkboard.id is not null
		<if test = "sdate != null and sdate !=''">AND Bkboard.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= Bkboard.created_at</if>
		<if test = "title != null and title !=''">AND Bkboard.title LIKE CONCAT('%', #{title}, '%')</if>
		<if test = "deleted != null and deleted !=''">AND Bkboard.deleted = #{deleted}</if>
		<if test = "cdatetime != null and cdatetime !=''">
			<if test = "cway =='before'">AND STR_TO_DATE(#{cdatetime}, '%Y-%m-%d %H:%i:%s.%f') > Bkboard.created_at ORDER BY Bkboard.created_at DESC</if>
			<if test = "cway =='recent'">AND Bkboard.created_at > STR_TO_DATE(#{cdatetime}, '%Y-%m-%d %H:%i:%s.%f') ORDER BY Bkboard.created_at ASC</if>
		</if>
		LIMIT 0, #{permore}
	</select>

<!--	page 페이징-->
	<select id="pagedList" parameterType="com.eunho.bankingsystem_spring_v2.dto.BkboardDto$BkboardPagedListDto" resultType="com.eunho.bankingsystem_spring_v2.dto.BkboardDto$BkboardSelectDto">
		SELECT Bkboard.id
		,Bkboard.title
		,Bkboard.content
		,Bkboard.deleted
		,Bkboard.created_at
		,Bkboard.modified_at
		FROM Bkboard
		WHERE Bkboard.id is not null
		<if test = "sdate != null and sdate !=''">AND Bkboard.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= Bkboard.created_at</if>
		<if test = "title != null and title !=''">AND Bkboard.title LIKE CONCAT('%', #{title}, '%')</if>
		<if test = "deleted != null and deleted !=''">AND Bkboard.deleted = #{deleted}</if>
		<if test = "orderby =='created_at'">ORDER BY Bkboard.created_at </if>
		<if test = "orderby =='title'">ORDER BY Bkboard.title </if>
		<if test = "orderway =='asc'">ASC</if>
		<if test = "orderway =='desc'">DESC</if>
		LIMIT #{callpage}, #{perpage}
	</select>

<!--	BkboardPagedListDto를 받아서 전체 listsize가 몇개인지 확인-->
	<select id="pagedListCount" parameterType="com.eunho.bankingsystem_spring_v2.dto.BkboardDto$BkboardPagedListDto" resultType="Integer">
		SELECT count(Bkboard.id) as listsize
		FROM Bkboard
		WHERE Bkboard.id is not null
		<if test = "sdate != null and sdate !=''">AND Bkboard.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= Bkboard.created_at</if>
		<if test = "title != null and title !=''">AND Bkboard.title LIKE CONCAT('%', #{title}, '%')</if>
		<if test = "deleted != null and deleted !=''">AND Bkboard.deleted = #{deleted}</if>
	</select>

</mapper>