<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eunho.bankingsystem_spring_v2.mapper.BkpicMapper">

	<select id="detail" parameterType="hashMap" resultType="com.eunho.bankingsystem_spring_v2.dto.BkpicDto$BkpicSelectDto">
		SELECT bkpic.id
			,bkpic.bkboard_id
			,bkpic.content
			,bkpic.type
			,bkpic.deleted
			,bkpic.created_at
			,bkpic.modified_at
		FROM bkpic
		WHERE bkpic.id = #{id}
	</select>
	<select id="list" parameterType="com.eunho.bankingsystem_spring_v2.dto.BkpicDto$BkpicListDto" resultType="com.eunho.bankingsystem_spring_v2.dto.BkpicDto$BkpicSelectDto">
		SELECT bkpic.id
			,bkpic.bkboard_id
			,bkpic.content
			,bkpic.type
			,bkpic.deleted
			,bkpic.created_at
			,bkpic.modified_at
		FROM bkpic
		WHERE bkpic.id is not null
		<if test = "bkboard_id != null and bkboard_id !=''">AND bkpic.bkboard_id = #{bkboard_id}</if>
		<if test = "content != null and content !=''">AND bkpic.content LIKE CONCAT('%', #{content}, '%')</if>
		<if test = "type != null and type !=''">AND bkpic.type = #{type}</if>
		<if test = "deleted != null and deleted !=''">AND bkpic.deleted = #{deleted}</if>
		ORDER BY bkpic.created_at ASC
	</select>

	<select id="moreList" parameterType="com.eunho.bankingsystem_spring_v2.dto.BkpicDto$BkpicMoreListDto" resultType="com.eunho.bankingsystem_spring_v2.dto.BkpicDto$BkpicSelectDto">
		SELECT bkpic.id
		,bkpic.bkboard_id
		,bkpic.content
		,bkpic.deleted
		,bkpic.created_at
		,bkpic.modified_at
		FROM bkpic
		WHERE bkpic.id is not null
		<if test = "sdate != null and sdate !=''">AND bkpic.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= bkpic.created_at</if>
		<if test = "bkboard_id != null and bkboard_id !=''">AND bkpic.bkboard_id = #{bkboard_id}</if>
		<if test = "content != null and content !=''">AND bkpic.content LIKE CONCAT('%', #{content}, '%')</if>
		<if test = "type != null and type !=''">AND bkpic.type = #{type}</if>
		<if test = "deleted != null and deleted !=''">AND bkpic.deleted = #{deleted}</if>
		<if test = "cdatetime != null and cdatetime !=''">
			<if test = "cway =='before'">AND STR_TO_DATE(#{cdatetime}, '%Y-%m-%d %H:%i:%s.%f') > bkpic.created_at ORDER BY bkpic.created_at DESC</if>
			<if test = "cway =='recent'">AND bkpic.created_at > STR_TO_DATE(#{cdatetime}, '%Y-%m-%d %H:%i:%s.%f') ORDER BY bkpic.created_at ASC</if>
		</if>
		LIMIT 0, #{permore}
	</select>

	<select id="pagedList" parameterType="com.eunho.bankingsystem_spring_v2.dto.BkpicDto$BkpicPagedListDto" resultType="com.eunho.bankingsystem_spring_v2.dto.BkpicDto$BkpicSelectDto">
		SELECT bkpic.id
		,bkpic.bkboard_id
		,bkpic.content
		,bkpic.deleted
		,bkpic.created_at
		,bkpic.modified_at
		FROM bkpic
		WHERE bkpic.id is not null
		<if test = "sdate != null and sdate !=''">AND bkpic.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= bkpic.created_at</if>
		<if test = "bkboard_id != null and bkboard_id !=''">AND bkpic.bkboard_id = #{bkboard_id}</if>
		<if test = "content != null and content !=''">AND bkpic.content LIKE CONCAT('%', #{content}, '%')</if>
		<if test = "type != null and type !=''">AND bkpic.type = #{type}</if>
		<if test = "deleted != null and deleted !=''">AND bkpic.deleted = #{deleted}</if>
		<if test = "orderby =='created_at'">ORDER BY bkpic.created_at </if>
		<if test = "orderby =='bkboard_id'">ORDER BY bkpic.bkboard_id </if>
		<if test = "orderway =='asc'">ASC</if>
		<if test = "orderway =='desc'">DESC</if>
		LIMIT #{callpage}, #{perpage}
	</select>

	<select id="pagedListCount" parameterType="com.eunho.bankingsystem_spring_v2.dto.BkpicDto$BkpicPagedListDto" resultType="Integer">
		SELECT count(bkpic.id) as listsize
		FROM bkpic
		WHERE bkpic.id is not null
		<if test = "sdate != null and sdate !=''">AND bkpic.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= bkpic.created_at</if>
		<if test = "bkboard_id != null and bkboard_id !=''">AND bkpic.bkboard_id = #{bkboard_id}</if>
		<if test = "content != null and content !=''">AND bkpic.content LIKE CONCAT('%', #{content}, '%')</if>
		<if test = "type != null and type !=''">AND bkpic.type = #{type}</if>
		<if test = "deleted != null and deleted !=''">AND bkpic.deleted = #{deleted}</if>
	</select>

</mapper>