<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eunho.bankingsystem_spring_v2.mapper.BkuserMapper">

	<select id="detail" parameterType="hashMap" resultType="com.eunho.bankingsystem_spring_v2.dto.BkuserDto$BkuserSelectDto">
		SELECT bkuser.id
			,bkuser.uid
			,bkuser.nick
			,bkuser.sfrom
			,bkuser.name
			,bkuser.process
			,bkuser.phone
			,bkuser.mpic
			,bkuser.deleted
			,bkuser.created_at
			,bkuser.modified_at
		FROM bkuser
		WHERE bkuser.id = #{id}
	</select>
	<select id="list" parameterType="com.eunho.bankingsystem_spring_v2.dto.BkuserDto$BkuserListDto" resultType="com.eunho.bankingsystem_spring_v2.dto.BkuserDto$BkuserSelectDto">
		SELECT bkuser.id
		,bkuser.uid
		,bkuser.nick
		,bkuser.sfrom
		,bkuser.name
		,bkuser.process
		,bkuser.phone
		,bkuser.mpic
		,bkuser.deleted
		,bkuser.created_at
		,bkuser.modified_at
		FROM bkuser
		WHERE bkuser.id is not null
		<if test = "uid != null and uid !=''">AND bkuser.uid LIKE CONCAT('%', #{uid}, '%')</if>
		<if test = "nick != null and nick !=''">AND bkuser.nick LIKE CONCAT('%', #{nick}, '%')</if>
		<if test = "name != null and name !=''">AND bkuser.name LIKE CONCAT('%', #{name}, '%')</if>
		<if test = "phone != null and phone !=''">AND bkuser.phone LIKE CONCAT('%', #{phone})</if>
		<if test = "process != null and process !=''">AND bkuser.process = #{process}</if>
		<if test = "deleted != null and deleted !=''">AND bkuser.deleted = #{deleted}</if>
	</select>

	<select id="moreList" parameterType="com.eunho.bankingsystem_spring_v2.dto.BkuserDto$BkuserMoreListDto" resultType="com.eunho.bankingsystem_spring_v2.dto.BkuserDto$BkuserSelectDto">
		SELECT bkuser.id
		,,bkuser.uid
		,bkuser.nick
		,bkuser.sfrom
		,bkuser.name
		,bkuser.process
		,bkuser.phone
		,bkuser.mpic
		,bkuser.deleted
		,bkuser.created_at
		,bkuser.modified_at
		FROM bkuser
		WHERE bkuser.id is not null
		<if test = "uid != null and uid !=''">AND bkuser.uid LIKE CONCAT('%', #{uid}, '%')</if>
		<if test = "nick != null and nick !=''">AND bkuser.nick LIKE CONCAT('%', #{nick}, '%')</if>
		<if test = "name != null and name !=''">AND bkuser.name LIKE CONCAT('%', #{name}, '%')</if>
		<if test = "phone != null and phone !=''">AND bkuser.phone LIKE CONCAT('%', #{phone})</if>
		<if test = "process != null and process !=''">AND bkuser.process = #{process}</if>
		<if test = "deleted != null and deleted !=''">AND bkuser.deleted = #{deleted}</if>
		<if test = "cdatetime != null and cdatetime !=''">
			<if test = "cway =='before'">AND STR_TO_DATE(#{cdatetime}, '%Y-%m-%d %H:%i:%s.%f') > bkuser.created_at ORDER BY bkuser.created_at DESC</if>
			<if test = "cway =='recent'">AND bkuser.created_at > STR_TO_DATE(#{cdatetime}, '%Y-%m-%d %H:%i:%s.%f') ORDER BY bkuser.created_at ASC</if>
		</if>
		LIMIT 0, #{permore}
	</select>

	<select id="pagedList" parameterType="com.eunho.bankingsystem_spring_v2.dto.BkuserDto$BkuserPagedListDto" resultType="com.eunho.bankingsystem_spring_v2.dto.BkuserDto$BkuserSelectDto">
		SELECT bkuser.id
		,bkuser.uid
		,bkuser.nick
		,bkuser.sfrom
		,bkuser.name
		,bkuser.process
		,bkuser.phone
		,bkuser.mpic
		,bkuser.deleted
		,bkuser.created_at
		,bkuser.modified_at
		FROM bkuser
		WHERE bkuser.id is not null
		<if test = "uid != null and uid !=''">AND bkuser.uid LIKE CONCAT('%', #{uid}, '%')</if>
		<if test = "nick != null and nick !=''">AND bkuser.nick LIKE CONCAT('%', #{nick}, '%')</if>
		<if test = "name != null and name !=''">AND bkuser.name LIKE CONCAT('%', #{name}, '%')</if>
		<if test = "phone != null and phone !=''">AND bkuser.phone LIKE CONCAT('%', #{phone})</if>
		<if test = "process != null and process !=''">AND bkuser.process = #{process}</if>
		<if test = "deleted != null and deleted !=''">AND bkuser.deleted = #{deleted}</if>
		<if test = "orderby =='created_at'">ORDER BY bkuser.created_at </if>
		<if test = "orderby =='title'">ORDER BY bkuser.title </if>
		<if test = "orderway =='asc'">ASC</if>
		<if test = "orderway =='desc'">DESC</if>
		LIMIT #{callpage}, #{perpage}
	</select>

	<select id="pagedListCount" parameterType="com.eunho.bankingsystem_spring_v2.dto.BkuserDto$BkuserPagedListDto" resultType="Integer">
		SELECT count(bkuser.id) as listsize
		FROM bkuser
		WHERE bkuser.id is not null
		<if test = "uid != null and uid !=''">AND bkuser.uid LIKE CONCAT('%', #{uid}, '%')</if>
		<if test = "nick != null and nick !=''">AND bkuser.nick LIKE CONCAT('%', #{nick}, '%')</if>
		<if test = "name != null and name !=''">AND bkuser.name LIKE CONCAT('%', #{name}, '%')</if>
		<if test = "phone != null and phone !=''">AND bkuser.phone LIKE CONCAT('%', #{phone})</if>
		<if test = "process != null and process !=''">AND bkuser.process = #{process}</if>
		<if test = "deleted != null and deleted !=''">AND bkuser.deleted = #{deleted}</if>
	</select>

</mapper>